<%
  var sum = "";
  var prob = "";
  var sol = "";
  if (knowledge) {
    sum = knowledge.summery;
    prob = knowledge.problem;
    sol = knowledge.solution;
    prob = prob.replace(/\r\n/g, "<br/>");
    prob = prob.replace(/\n/g, "<br/>");
    sol = sol.replace(/\r\n/g, "<br/>");
    sol = sol.replace(/\n/g, "<br/>");
  }
 %>
<h1><%= sum %></h1>

<div class="subtitle">
  <p>Problem</p>
</div>
<div class="disp">
  <p><%- prob %></p>
</div>
<div class="subtitle">
  <p>Solution</p>
</div>
<div class="disp">
  <p><%- sol %></p>
</div>

<form action="/edit/<%= knowledge._id %>" method="POST">
  <p><input type="submit" value="Edit" class="button"></p>
</form>

<form action="/delete/<%= knowledge._id %>" method="POST">
  <p><input type="submit" value="Delete" class="button"></p>
</form>
